# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store


# client-value : 1r88Q~gZbNcPtsfXgQpDcbBqxg9IQzf3MyQppaeO
# client-id : 7caad314-7bb2-45fa-80a7-60d92f35935b
# tenant-id : 5d8b8d43-ebf0-4662-910c-afc6f0f2dff9
# subcription-id : 
# secrete id:16bb9706-e485-4b66-b7c5-7ab168800852

